{% extends 'contacts/base.html' %}
{% block title %}View List{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Hello {{user.username}}</h1>
    <div class="jumbotron">
    <ul>

    {% for u in contacts %}
        {% if u.User == user %}
        <li><a href="">{{u.first_name}}</a></li>

</ul>
    </div>
{% endif %}
{% endfor %}


<h2>Add new Contact</h2>
<form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success" name="Index">Add</button>
</form>
{% endblock %}
